[user]
	name = mag-lange
	email = magnolan@stud.ntnu.no
[safe]
	directory = C:/Users/magnu/OneDrive - NTNU/NTNU(alive)/5th.semester/DCST3005/iac-terraform
	directory = C:/Users/magnu/OneDrive - NTNU/NTNU(alive)/5th.semester/DCST3005/Personal_repo/DCST3005
	directory = C:/Users/magnu/OneDrive - NTNU/NTNU(alive)/5th.semester/DCST3005/DCST3005
	directory = C:\\Users\\magnu\\OneDrive - NTNU\\NTNU(alive)\\5th.semester\\DCST3005\\DCST3005\\actions-runner\\_work\\IaC\\IaC
